@model NexenHub.ViewModels.WoLineViewModel
@{
}

<div id="@Html.Raw(Model.EQ_ID + "_woLineRow")" class="row row-cols-1 justify-content-start">

</div>

<div id="woListCode" style="position:absolute;display:none;margin:0;padding:0;top:0;left:0">

   <div class="col p-1">
       <div class="card {{wocardstyle}}">
           <div class="card-body">
                <div>{{itemname}}</div>
                <div>{{workorder}}</div>
           </div>
       </div>
   </div>

</div>

<script type="text/javascript">

document.addEventListener('readystatechange', event => {
        switch (document.readyState) {
            case "loading":
                break;
            case "interactive":
                getWoList();
                break;
            case "complete":
                setInterval(getWoList, 10000);
                break;
        }
    });

async function getWoList()
{
        return await fetch(window.location.origin + '/api/cockpit/wolist/' + @Model.EQ_ID)
            .then(response => response.json())
            .then(data => displayWoList(data));
}

async function displayWoList(data)
{
    var code = document.getElementById('woListCode').innerHTML;
    var row = document.getElementById(@Html.Raw("'" + Model.EQ_ID + "_woLineRow'"));

    row.innerHTML= '';

        data.Waiting.forEach(waiting => {
            var fCode = '';

            if (waiting['TEST_YN'] == 'Y')
                fCode = code.replace('{{wocardstyle}}', 'border-warning text-muted');
            else
                fCode = code.replace('{{wocardstyle}}', 'text-muted');

             fCode = fCode.replace('{{workorder}}', waiting['WO_NO']);
             fCode = fCode.replace('{{itemname}}', waiting['ITEM_NAME']);
             fCode = fCode.replace('{{prodtype}}', waiting['PROD_TYPE']);
            
        row.innerHTML += fCode;
    });


    data.Started.forEach(started => {

            var fCode = '';

            if (started['TEST_YN'] == 'Y')
                fCode = code.replace('{{wocardstyle}}', 'bg-warning text-black');
            else
                fCode = code.replace('{{wocardstyle}}', 'bg-github-green text-white');

            fCode = fCode.replace('{{workorder}}', started['WO_NO']);
            fCode = fCode.replace('{{itemname}}', started['ITEM_NAME']);
            fCode = fCode.replace('{{prodtype}}', started['PROD_TYPE']);

            row.innerHTML += fCode;
    });

        data.Finished.forEach(finished => {
            var fCode = '';

            if (finished['TEST_YN'] == 'Y')
                fCode = code.replace('{{wocardstyle}}', 'border-warning bg-light text-muted');
            else
                fCode = code.replace('{{wocardstyle}}', 'bg-light text-muted');


        fCode = fCode.replace('{{workorder}}', finished['WO_NO']);
        fCode = fCode.replace('{{itemname}}', finished['ITEM_NAME']);
        fCode = fCode.replace('{{prodtype}}', finished['PROD_TYPE']);
            
        row.innerHTML += fCode;
    });

}

</script>