@model NexenHub.ViewModels.WoLineViewModel
@{
}
<div class="card">
<div class="card-body">
    <h5>Workorders</h5>
    <div class="table-responsive">
        <table id="@Html.Raw(Model.EQ_ID + "_woLineRow")" class="table table-sm table-borderless table-hover text-center">
        </table>
    </div>
</div>
</div>

<script type="text/javascript">

document.addEventListener('readystatechange', event => {
        switch (document.readyState) {
            case "loading":
                break;
            case "interactive":
                getWoList();
                break;
            case "complete":
                setInterval(getWoList, 10000);
                break;
        }
    });

async function getWoList()
{
        return await fetch(window.location.origin + '/api/cockpit/wolist/' + @Model.EQ_ID)
            .then(response => response.json())
            .then(data => displayWoList(data));
}

async function displayWoList(data)
{
    var table = document.getElementById(@Html.Raw("'" + Model.EQ_ID + "_woLineRow'"));
    var innerCode = '';

    data.Waiting.forEach(waiting => {
            
            innerCode += '<tr><td>' +  '<span class="badge bg-warning text-dark">Waiting</span>' + '</td>' ;
            innerCode += '<td>' + waiting['WO_NO'] + '</td>' ;
            innerCode += '<td>' +  waiting['ITEM_NAME'] + '</td>' ;
            innerCode +='<td>' +  waiting['PROD_TYPE'] + '</td></tr>' ;
    });


    data.Started.forEach(started => {
        
            innerCode += '<tr><td>' + '<span class="badge bg-github-green text-white">Running</span>' + '</td>';
            innerCode += '<td>' + started['WO_NO'] + '</td>';
            innerCode += '<td>' + started['ITEM_NAME'] + '</td>';
            innerCode += '<td>' + started['PROD_TYPE'] + '</td></tr>';
    });

    data.Finished.forEach(finished => {
            
            innerCode += '<tr class="text-muted"><td>' + '<span class="badge bg-secondary text-white">Completed</span>' + '</td>';
            innerCode += '<td>' + finished['WO_NO'] + '</td>';
            innerCode += '<td>' + finished['ITEM_NAME'] + '</td>';
            innerCode += '<td>' + finished['PROD_TYPE'] + '</td></tr>';
    });

    table.innerHTML = innerCode;

}

</script>