@model NexenHub.ViewModels.MachineProdListViewModel
@{}

<div class="card">
    <div class="card-body">
        <h5>Latest production</h5>
    
    <div class="table-responsive">
        <table id="@Html.Raw(Model.EQ_ID + "_prodLineTable")" class="table table-hover table-sm table-borderless text-center">
        </table>
    </div>
    </div>
</div>

<script type="text/javascript">

    document.addEventListener('readystatechange', event => {
        switch (document.readyState) {
            case "loading":
                break;
            case "interactive":
                getProdList();
                break;
            case "complete":
                setInterval(getProdList, 60000);
                break;
        }
    });

    async function getProdList() {
        return await fetch(window.location.origin + '/api/cockpit/latestprod/' + @Model.EQ_ID)
            .then(response => response.json())
            .then(data => displayprodList(data));
    }

    async function displayprodList(data) {
        var tableCode = document.getElementById(@Html.Raw("'" + Model.EQ_ID + "_prodLineTable'"));

        var row = '';

        data.slice(0, 10).forEach(production => 
        {
            
            if (production['USE_YN'] == 'Y')
                row += '<tr>';
            else
                row += '<tr class=\"bg-github-red text-white-50\">';

            

            row += '<td>' + production['PROD_DATE'] + '</td>';
            row += '<td><a class=\"link-primary\" href=\"/lot/' + production['LOT_ID'] + '\" target=\"_blank\">' + production['LOT_ID'] + '</a></td>';
                        
            row += '<td>' + production['ITEM_NAME'] + '</td>';
            row += '<td>' + production['QTY'] + '</td>';

            if (production['SAVE_TYPE'] == 'M')
                row += '<td><span class="badge bg-info text-dark">Manual</span></td>';
            else
                row += '<td><span class="badge bg-github-green text-white">Automatic</span></td>';

            row += '</tr>';
        });

        tableCode.innerHTML = row;
    }

</script>