@model NexenHub.ViewModels.MachineProdListViewModel
@{

}

<div class="card rounded-0">
    <div class="card-header rounded-0 bg-dark-blue text-light">
        Latest production
    </div>
    <div class="table-responsive">
        <table id="@Html.Raw(Model.EQ_ID + "_prodLineTable")" class="table table-hover table-borderless table-sm text-center small">

        </table>
    </div>
</div>

<script type="text/javascript">

    document.addEventListener('readystatechange', event => {
        switch (document.readyState) {
            case "loading":
                break;
            case "interactive":
                getProdList();
                break;
            case "complete":
                setInterval(getProdList, 10000);
                break;
        }
    });

    async function getProdList() {
        return await fetch(window.location.origin + '/api/cockpit/latestprod/' + @Model.EQ_ID)
            .then(response => response.json())
            .then(data => displayprodList(data));
    }

    async function displayprodList(data) {
        var tableCode = document.getElementById(@Html.Raw("'" + Model.EQ_ID + "_prodLineTable'"));

        tableCode.innerHTML = '';
        var row = '';

        data.slice(0, 8).forEach(production => 
        {
            
            if (production['USE_YN'] == 'Y')
            {
                  row = '<tr>';
            }
            else
            {
                  row = '<tr class=\"bg-github-red text-white\">';
            }

           /* if (production['SAVE_TYPE'] == 'M')
                fCode = fCode.replace('{{savetype}}', '<span class="badge bg-info text-dark">Manual</span>');
            else
                fCode = fCode.replace('{{savetype}}', '');
*/

            row += '<td><a class=\"link-primary\" href=\"/lot/' + production['LOT_ID'] + '\" target=\"_blank\">' + production['LOT_ID'] + '</a></td>';
            row += '<td>' + production['PROD_DATE'] + '</td>';            
            //row += '<td>' + production['ITEM_NAME'] + '</td>';
            //row += '<td>' + production['QTY'] + '</td>';

            tableCode.innerHTML += row + '</tr>';

        });
    }

</script>