@model NexenHub.Models.MemberSearchList  
@{
}

<input id="msInput" type="text" class="form-control" placeholder="Search for employee"/>
<div id="msAutoCom" class="list-group" style="overflow-y:auto;max-height:50vh;z-index:10;position:absolute;"></div>

<script type="text/javascript">

    var msRows = @Html.Raw(Model.jsonMembers) ;
    var msInputfield = document.getElementById('msInput');

    function msFilterInput(filterText) {
        var outMembers = [];

        for (var i = 0; i < msRows.length; i++) {
            if (msRows[i].ID.toLowerCase().includes(filterText.toLowerCase()) ||
                msRows[i].Name.toLowerCase().includes(filterText.toLowerCase()) ||
                msRows[i].Phone.toLowerCase().includes(filterText.toLowerCase()))
                outMembers.push(msRows[i]);
        }

        return outMembers;
    }

    msInputfield.onkeyup = function(e) {
        var inputVal = document.getElementById('msInput').value.trim().replace(' ','');
        var showMembers = [];

        if (inputVal.length >= 3)
        {
            var autoCom = document.getElementById('msAutoCom');
            autoCom.innerHTML = '';
            showMembers = msFilterInput(inputVal);

            for (var i = 0; i < showMembers.length; i++)
            {
                autoCom.innerHTML += '<a href="/member/' + showMembers[i].ID + '" class="list-group-item list-group-item-action">' +
                    showMembers[i].ID + ' ' + showMembers[i].Name + ' ' + showMembers[i].Phone + '</a>';
            }
            autoCom.style.display = 'block';
        }
        else
        {
            showMembers = [];
            autoCom.innerHTML = '';
        }
    }

    //msInputfield.onblur = function (e) {
    //    var autoCom = document.getElementById('msAutoCom');
    //    autoCom.innerHTML = '';
    //}

</script>