@page
@model NexenHub.Pages.Cockpit.DashboardModel
@{
    Layout = "_LayoutSide";
    ViewData["pageTitle"] = "Cockpit dashboard";
}

<div class="container">
    <div class="row mb-1">
        
        <div class="col">

        </div>
        <!-- Today´s prodaction pie-->
        <div class="col-5">
            <div class="card">
                <div class="card-body">
                    <h4>Today´s production</h4>
                    <div class="row">
                        <div class="col">
                            <div class="d-flex align-items-center h-100">
                            <table class="table table-hover table-borderless">
                                <tr>
                                        <td><div style="color:rgb(75, 192, 192)">&#9632;</div></td>
                                    <td><h5>GT</h5></td>
                                    <td class="text-end">
                                        <h5><span id="gtGoalLabel"/></h5>
                                    </td>
                                </tr>
                                <tr>
                                        <td><div style="color:rgb(54, 162, 235)">&#9632;</div></td>
                                    <td><h5>Tire</h5></td>
                                    <td class="text-end">
                                            <h5><span id="tireGoalLabel" /></h5>
                                        </td>
                                </tr>
                            </table>
                            </div>
                        </div>
                        <div class="col-5">
                            <canvas id="pieGTchart"></canvas>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>

    <div class="row g-1">
        <div class="col-6">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row mb-1">
                        <div class="d-flex">
                        <h4 class="flex-grow-1">Nexen 1</h4>
                        <div><h4 id="factoryOeSum1"></h4></div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-lg">
                            <div class="row">
                                <div class="col">
                                    <canvas id="nexOneAvailability"></canvas>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="d-flex align-items-center h-100">
                                <table class="table table-hover table-borderless">
                                    <tr>
                                        <td><div style="color:rgb(201, 203, 207)">&#9632;</div></td>
                                        <td><h5>Mixing</h5></td>
                                        <td class="text-end">
                                            <h5><span id="mixOe1"/></h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><div style="color:yellow">&#9632;</div></td>
                                        <td><h5>Calender</h5></td>
                                        <td class="text-end">
                                            <h5><span id="calOe1"/></h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><div style="color:rgb(14, 95, 198)">&#9632;</div></td>
                                        <td><h5>Extruding</h5></td>
                                        <td class="text-end">
                                            <h5><span id="extOe1"/></h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><div style="color:rgb(223, 126, 0)">&#9632;</div></td>
                                        <td><h5>Bead</h5></td>
                                        <td class="text-end">
                                            <h5><span id="beadOe1"/></h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><div style="color:rgb(153, 102, 51)">&#9632;</div></td>
                                        <td><h5>Cutting</h5></td>
                                        <td class="text-end">
                                            <h5><span id="cutOe1" /></h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><div style="color:rgb(75, 192, 192)">&#9632;</div></td>
                                        <td><h5>TBM</h5></td>
                                        <td class="text-end">
                                            <h5><span id="tbmOe1"/></h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><div style="color:rgb(157, 28, 157)">&#9632;</div></td>
                                        <td><h5>Curing</h5></td>
                                        <td class="text-end">
                                            <h5><span id="curOe1"/></h5>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row mb-1">
                        <div class="d-flex">
                        <h4 class="flex-grow-1">Nexen 2</h4>
                        <div><h4 id="factoryOeSum2"></h4></div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-lg">
                            <div class="row">
                                <div class="col">
                                    <canvas id="nexTwoAvailability"></canvas>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="d-flex align-items-center h-100">
                                <table class="table table-hover table-borderless">
                                    <tr>
                                        <td><div style="color:rgb(201, 203, 207)">&#9632;</div></td>
                                        <td><h5>Mixing</h5></td>
                                        <td class="text-end">
                                            <h5><span id="mixOe2" /></h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><div style="color:rgb(14, 95, 198)">&#9632;</div></td>
                                        <td><h5>Extruding</h5></td>
                                        <td class="text-end">
                                            <h5><span id="extOe2" /></h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><div style="color:rgb(223, 126, 0)">&#9632;</div></td>
                                        <td><h5>Bead</h5></td>
                                        <td class="text-end">
                                            <h5><span id="beadOe2" /></h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><div style="color:rgb(153, 102, 51)">&#9632;</div></td>
                                        <td><h5>Cutting</h5></td>
                                        <td class="text-end">
                                            <h5><span id="cutOe2" /></h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><div style="color:rgb(75, 192, 192)">&#9632;</div></td>
                                        <td><h5>TBM</h5></td>
                                        <td class="text-end">
                                            <h5><span id="tbmOe2" /></h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><div style="color:rgb(157, 28, 157)">&#9632;</div></td>
                                        <td><h5>Curing</h5></td>
                                        <td class="text-end">
                                            <h5><span id="curOe2" /></h5>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@*
<script type="text/javascript">

     document.addEventListener('readystatechange', event => {
        switch (document.readyState) {
            case "loading":
                break;
            case "interactive":
                refreshProd();
                refreshOEE();
                break;
            case "complete":
                setInterval(refreshProd, 10000);
                setInterval(refreshOEE, 60000);
                break;
        }
    });

    const todayProdchartElement = document.getElementById('pieGTchart').getContext('2d');
    const todayProdchart = new Chart(todayProdchartElement,
        {
            type: 'doughnut',
        options: 
        {
            responsive:true,
            plugins: 
            {
                  legend: {
                      display:false,
                    position: 'top',
                  },
                  title: {
                    display: false,
                    text: ''
                  }
            }
        },
        data: 
        {
            labels:['Produced','Remaining'],
            datasets: 
            [{
                label: 'GT',
                data: [0,0],
                        backgroundColor: ['rgb(75, 192, 192)', chartGrayColor[1]]
             },
            {
                label: 'Tire',
                data: [0,0],
                        backgroundColor: ['rgb(54, 162, 235)', chartGrayColor[1]]
             }]
        }
    });

    async function refreshProd() {

        var [tbmProd, tbmPlan, tireProd, tirePlan] = await Promise.all([
                                                            GetFromAPI('/api/prod/CurrentProd/T'),
                                                            GetFromAPI('/api/prod/TBMPlanCurrent/'),
                                                            GetFromAPI('/api/prod/CurrentProd/U'),
                                                            GetFromAPI('/api/prod/CUREPlanCurrent/')
                                                        ]);
        
        document.getElementById('gtGoalLabel').innerHTML = tbmProd + ' / ' + tbmPlan;
        document.getElementById('tireGoalLabel').innerHTML = tireProd + ' / ' + tirePlan;

        var tbmProc = Math.round((tbmProd / tbmPlan) * 100);
        var tireProc = Math.round((tireProd / tirePlan) * 100);

        tbmProc = minMaxCheck(tbmProc);
        tireProc = minMaxCheck(tireProc);

        todayProdchart.data.datasets[0].data = [tbmProc,100 - tbmProc];
        todayProdchart.data.datasets[1].data = [tireProc,100 - tireProc];

        todayProdchart.update();
    }

    function minMaxCheck(percent){
        if (percent > 100)
            return 100;
        else if (percent < 0)
            return 0;
        else
            return percent;
    }

    async function refreshOEE(){
        getOEE('NEX1');
       // getOEE('NEX2');
    }

    async function getOEE(FACTID) {
        var calPromise;

        if (FACTID == 'NEX1')
            calPromise = GetFromAPI("/api/prod/worksectionoee/C/"+ FACTID);
        else if (FACTID == 'NEX2')
            calPromise = 0;

        var [mix, cal, ext, bead, cut, tbm, cure] = await Promise.all([
            GetFromAPI("/api/prod/worksectionoee/M/"+ FACTID),
            calPromise,
            GetFromAPI("/api/prod/worksectionoee/E/"+ FACTID),
            GetFromAPI("/api/prod/worksectionoee/B/"+ FACTID),
            GetFromAPI("/api/prod/worksectionoee/P/"+ FACTID),
            GetFromAPI("/api/prod/worksectionoee/T/"+ FACTID),
            GetFromAPI("/api/prod/worksectionoee/U/"+ FACTID)
        ]);

        var machineArray;

        if (FACTID == 'NEX1')
            machineArray = [
                100- mix['DowntimePercentAll'],
                100 - cal['DowntimePercentAll'],
                100 - ext['DowntimePercentAll'],
                100 - bead['DowntimePercentAll'],
                100 - cut['DowntimePercentAll'],
                100 - tbm['DowntimePercentAll'],
                100 - cure['DowntimePercentAll']
            ];


        if (FACTID == 'NEX2')
            machineArray = [
                100 - mix['DowntimePercentAll'],
                100 - ext['DowntimePercentAll'],
                100 - bead['DowntimePercentAll'],
                100 - cut['DowntimePercentAll'],
                100 - tbm['DowntimePercentAll'],
                100 - cure['DowntimePercentAll']
            ];

            var factorySum = 0;
            machineArray.forEach(percent => factorySum += percent);

        if (FACTID == 'NEX1') {

            document.getElementById('mixOe1').innerText = machineArray[0] + '%';
            document.getElementById('calOe1').innerText = machineArray[1] + '%';
            document.getElementById('extOe1').innerText = machineArray[2] + '%';
            document.getElementById('beadOe1').innerText = machineArray[3] + '%';
            document.getElementById('cutOe1').innerText = machineArray[4] + '%';
            document.getElementById('tbmOe1').innerText = machineArray[5] + '%';
            document.getElementById('curOe1').innerText = machineArray[6] + '%';

            document.getElementById('factoryOeSum1').innerText = Math.round(factorySum / machineArray.length) + '%';

            nexOneChart.data.datasets[0].data = machineArray;
            nexOneChart.update();
        }
        else if (FACTID == 'NEX2') {

            document.getElementById('mixOe2').innerText = machineArray[0] + '%';
            document.getElementById('extOe2').innerText = machineArray[1] + '%';
            document.getElementById('beadOe2').innerText = machineArray[2] + '%';
            document.getElementById('cutOe2').innerText = machineArray[3] + '%';
            document.getElementById('tbmOe2').innerText = machineArray[4] + '%';
            document.getElementById('curOe2').innerText = machineArray[5] + '%';

            document.getElementById('factoryOeSum2').innerText = Math.round(factorySum / machineArray.length) + '%';

            nexTwoChart.data.datasets[0].data = machineArray;
            nexTwoChart.update();
        }
    }

    const nexOneElement = document.getElementById('nexOneAvailability').getContext('2d');
    const nexOneChart = new Chart(nexOneElement,
        {
            type: 'polarArea',
            options:
            {
                responsive: true,
                plugins:
                {
                    legend: {
                        display: false,
                        position: 'top',
                    },
                    title: {
                        display: false,
                        text: ''
                    }
                }
            },
            data:
            {
                labels: ['Mixing', 'Calender', 'Extruding', 'Bead', 'Cutting', 'TBM', 'Curing'],
                datasets:
                    [{
                        label: 'Nexen 1',
                        data: [0, 0, 0, 0, 0, 0, 0],
                        backgroundColor: [
                            chartGrayColor[1],
                            chartCalenderColor[1],
                            chartExtColor[1],
                            chartBeadColor[1],
                            chartShitColor[1],
                            chartOkColor[1],
                            chartNexenColor[1]
                        ]
                    }]
            }
        });

    const nexTwoElement = document.getElementById('nexTwoAvailability').getContext('2d');
    const nexTwoChart = new Chart(nexTwoElement,
        {
            type: 'polarArea',
            options:
            {
                responsive: true,
                plugins:
                {
                    legend: {
                        display: false,
                        position: 'top',
                    },
                    title: {
                        display: false,
                        text: ''
                    }
                }
            },
            data:
            {
                labels: ['Mixing', 'Extruding', 'Bead', 'Cutting', 'TBM', 'Curing'],
                datasets:
                    [{
                        label: 'Nexen 2',
                        data: [0, 0, 0, 0, 0, 0],
                        backgroundColor: [
                            chartGrayColor[1],
                            chartExtColor[1],
                            chartBeadColor[1],
                            chartShitColor[1],
                            chartOkColor[1],
                            chartNexenColor[1]
                        ]
                    }]
            }
        });

</script>*@
