@page "{EQ_ID:length(5)}"
@model NexenHub.Pages.Cockpit.MachineModel
@{
}

<div class="container-fluid my-2">
    <div class="row">
        <div class="col-auto">
            @await Component.InvokeAsync("MachineTagname", Model.machineInfo)
        </div>
    </div>
</div>

<div class="container-fluid my-2">

    <div class="row">
        <div class="col-6">
           @* <div class="card">
                <div class="card-header">
                    Input positions
                </div>
                <div class="card-body p-0">*@
                    @await Component.InvokeAsync("InputPositions", Model.EQ_ID)
               @* </div>
            </div>*@
        </div>
    </div>


</div>
