@page "{EQ_ID:length(5)}"
@model NexenHub.Pages.Cockpit.MachineModel
@{
    Layout = "_LayoutSide";
}

<div class="container-fluid">

    <div class="row vh-100">

        <div class="col-2 bg-github-dark">
            <div class="row">
                <div class="col">
                    @await Component.InvokeAsync("MachineTagname", Model.machineInfo)
                </div>
                </div>
            <div class="row" >
                <div class="col" >
                @await Component.InvokeAsync("WoLine", Model.EQ_ID)
                </div>
            </div>
        </div>

        <div class="col">
            <div class="row">
                <div class="col-6">
                    <div class="card">
                        <div class="card-body p-0">
                            @await Component.InvokeAsync("InputPositions", Model.EQ_ID)
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-2 bg-github-dark">

        </div>
    </div>


</div>
