@model NexenHub.Models.MachineDownTime

        <div class="card">
            <div class="card-header bg-dark text-light">
                Downtimes
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <canvas id="sumDTchart" style="display: block; box-sizing: border-box;" />
                    </div>
                    <div class="col-6">
                        <canvas id="eachDTchart" style="display: block; box-sizing: border-box;" />
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">

            const eachctx = document.getElementById('eachDTchart').getContext('2d');
            const eachDT = new Chart(eachctx, {
                type: 'doughnut',
                data: {
                    labels: @Html.Raw(Model.formatEaLabels),
                    datasets: [{
                        label: 'Sum data',
                        data: @Html.Raw(Model.formatEaDatas),
                        borderWidth: 1,
                        "backgroundColor": [
                            "rgba(50,205,50,0.2)",
                            "rgba(220, 53, 69, 0.2)"
                        ],
                        "borderColor": [
                            "rgba(50,205,50,1)",
                            "rgba(220, 53, 69, 1)"
                        ]
                    }]
                },
                options: {
                    maintainAspectRatio: true,
                    responsive: true,
                    plugins: {
                        legend: { position: 'right' },
                        title: {
                            display: true,
                            text: ''
                        }
                    }
                }
            });

            const sumctx = document.getElementById('sumDTchart').getContext('2d');
            const sumDT = new Chart(sumctx, {
                type: 'doughnut',
                data: {
                    labels: @Html.Raw(Model.formatSumLabels),
                    datasets: [{
                        label: 'Sum data',
                        data: @Html.Raw(Model.formatSumDatas),
                        borderWidth: 1,
                        "backgroundColor": [
                            "rgba(50,205,50,0.2)",
                            "rgba(220, 53, 69, 0.2)"
                        ],
                        "borderColor": [
                            "rgba(50,205,50,1)",
                            "rgba(220, 53, 69, 1)"
                        ]
                    }]
                },
                options: {
                    maintainAspectRatio: true,
                    responsive: true,
                    plugins: {
                        legend: { position: 'right' },
                        title: {
                            display: true,
                            text: ''
                        }
                    }
                }
            });

        </script>
