@page
@model NexenHub.Pages.BestOnesModel
@{

    ViewData["Title"] = "Best ones";
}


<blockquote class="blockquote text-right">
    <p class="mb-0">
        I wish all of our team members a good holiday during the shutdown period.<br />
        Team members who are working during this period, please suffer.
    </p>
    <footer class="blockquote-footer"><cite title="Source Title">Lucas</cite></footer>
</blockquote>

