@page
@model NexenHub.Pages.BestOnesModel
@{
    ViewData["Title"] = "Best ones";
}

<div class="">

    <figure class="text-center">
        <blockquote class="blockquote">
            <p>In past, we make it</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Petr Klíma, <cite title="Source Title">2021</cite>
        </figcaption>
    </figure>

    <figure class="text-center">
        <blockquote class="blockquote">
            <p>
                I wish all of our team members a good holiday during the shutdown period.<br />
                Team members who are working during this period, please suffer.
            </p>
        </blockquote>

        <figcaption class="blockquote-footer">
            Lucas, <cite title="Source Title">2021</cite>
        </figcaption>
    </figure>

    <figure class="text-center">
        <blockquote class="blockquote">
            <p>
                I've never doubted your work skills or skills. <br />
                But I've never expected you to be loyal to the company or to be loyal to the company.
            </p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Lucas, <cite title="Source Title">2021</cite>
        </figcaption>
    </figure>

    <figure class="text-center">
        <blockquote class="blockquote">
            <p>
                Mistakes are happen
            </p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Jan Angelovič, <cite title="Source Title">2021</cite>
        </figcaption>
    </figure>

    <figure class="text-center">
        <blockquote class="blockquote">
            <p>
                TBM#11 NMP unsuccessful exchange for W10 – in office every see ok and after exchange to but if production want to start non working corectli and we dont have time for tuning. We replece old SSD with W7 back.
            </p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Petr Klíma, <cite title="Source Title">2021</cite>
        </figcaption>
    </figure>


    <figure class="text-center">
        <blockquote class="blockquote">
            <p>
                The database related to MES is managed by ICT and has been cleaned in 21 years.
            </p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Lucas, <cite title="Source Title">2022</cite>
        </figcaption>
    </figure>

    <figure class="text-center">
        <blockquote class="blockquote">
            <p>
                Thank you for thinking that way. I can't do as much as I want to all of my team members at once whenever I have the opportunity, but I will do it for everyone equally for the effort I put in for the ICT team.
            </p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Lucas, <cite title="Source Title">2022</cite>
        </figcaption>
    </figure>

    <figure class="text-center">
        <blockquote class="blockquote">
            <p>
                I understand us. But there are many times when they say what they say and say something else. let us understand
            </p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Lucas, <cite title="Source Title">2022</cite>
        </figcaption>
    </figure>

    <figure class="text-center">
        <blockquote class="blockquote">
            <p>
                When you come to the office to work, be quiet so that you can focus on your work first.
            </p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Lucas, <cite title="Source Title">2022</cite>
        </figcaption>
    </figure>


    <figure class="text-center">
        <blockquote class="blockquote">
            <p>
                "nešla" kamera, přetáhl jsem jí a vše ok
            </p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Patrik Tůma, <cite title="Source Title">2023</cite>
        </figcaption>
    </figure>




</div>