@page
@model NexenHub.Pages.CartsInfoModel
@{
}

<div class="container">
    <form method="post">
        <div class="input-group mb-3">
            <input type="text" class="form-control text-center" placeholder="CART ID" aria-label="CART ID" asp-for="CartID">
            <div class="input-group-append">
                <button class="btn btn-success" type="submit" asp-page-handler="Show">Generate e-paper</button>
            </div>
        </div>
    </form>



    @if (Model.ShowFrame)
    {
        <div class="ratio ratio-16x9" style="object-position: top; object-fit: cover; height: 70vh;">
            <iframe class="w-100 embed-responsive-item" src="~/esl/@Model.CartID"></iframe>
        </div>
    }

</div>