@page "{input}"
@model NexenHub.Pages.eslModel
@{
    Layout = null;
    ViewData["Title"] = "Generated ESL";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body class="m-0">
    @if (Model.LoadStatus == 1)
    {
        <div class="vh-100 w-100 bg-danger">
            <div class="h-25"></div>
            <div class="text-center">
                <span class="text-white" style="font-size:xx-large">Unable to find @Model.Argument</span>
            </div>
        </div>
    }
    else if (Model.LoadStatus == 2)
    {
        <div class="vh-100 w-100 bg-warning">
            <div class="h-25"></div>
            <div class="text-center">
                <span class="text-dark" style="font-size:xx-large">Wrong input: @Model.Argument</span>
            </div>
        </div>
    }
    else
    {
        @Html.Raw(Model.GeneratedLayout)
    }


</body>
</html>
