@page
@model NexenHub.Pages.eslModel
@{
    Layout = null;
    ViewData["Title"] = "Generated ESL";
}

<!--@Html.Raw(Model.Generated)-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>

    <div class="container-fluid h-auto border text-center">
        <div class="row">
            <div class="col-8">
                <div class="row">
                    <div class="col">{{Barcode LOT_ID}}</div>
                  </div>
                <div class="row">
                    <div class="col">{{LOT_ID}}</div>
                </div>
            </div>
            <div class="col-4">
               {{CART_ID}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ITEM_NAME}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{COMPOUND}}
            </div>
        </div>
        <div class="row">
            <div class="col border">{{ITEM_ID}}</div>
            <div class="col border">{{QTY}}</div>
            <div class="col border">{{PROD_TYPE}}</div>
        </div>
        <div class="row">
            <div class="col border">
                {{PROD_TIME}}
            </div>
            <div class="col">
                <div class="row">
                    <div class="col border">{{TIME1}}</div>
                </div>
                <div class="row">
                    <div class="col border">{{TIME2}}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col border">{{Size?}}</div>
        </div>
    </div>

    </body>
</html>
