@page "{cartid}"
@model NexenHub.Pages.eslModel
@{
    Layout = null;
    ViewData["Title"] = "Generated ESL";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>
    @Html.Raw(Model.GeneratedLayout)
    <!--
        <div class="container-fluid h-auto border text-center" style="font-size:larger">
         <div class="row">
             <div class="col-8">
                 <div class="row">
                     <div class="col">{{Barcode LOT_ID}}</div>
                 </div>
                 <div class="row">
                     <div class="col">{{LOT_ID}}</div>
                 </div>
             </div>
             <div class="col-4 bg-dark">
                 <span class="text-light" style="font-size:xx-large">{{CART_ID}}</span>
             </div>
         </div>
         <div class="row">
             <div class="col font-weight-bold">
                 <span style="font-size:xx-large;">{{ITEM_NAME}}</span>
             </div>
         </div>
         <div class="row">
             <div class="col font-weight-bold">
                 <span style="font-size:x-large;">{{COMPOUND}}</span>
             </div>
         </div>
         <div class="row">
             <div class="col border font-weight-bold"><span style="font-size:xx-large;">{{ITEM_ID}}</span></div>
             <div class="col border font-weight-bold"><span style="font-size:xx-large;">{{QTY}}</span></div>
             <div class="col border font-weight-bold"><span style="font-size:xx-large;">{{PROD_TYPE}}</span></div>
         </div>
         <div class="row">
             <div class="col border">
                 <span style="font-size:xx-large">{{PROD_TIME}}</span>
             </div>
             <div class="col">
                 <div class="row">
                     <div class="col border">{{TIME1}}</div>
                 </div>
                 <div class="row">
                     <div class="col border">{{TIME2}}</div>
                 </div>
             </div>
         </div>
         <div class="row">
             <div class="col"></div>
             <div class="col border font-weight-bold"><span style="font-size:xx-large;">{{Size?}}</span></div>
         </div>
     </div>
        -->
</body>
</html>
