@page "{cartid}"
@model NexenHub.Pages.eslModel
@{
    Layout = null;
    ViewData["Title"] = "Generated ESL";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>
    @Html.Raw(Model.GeneratedLayout)
    @*<div class="container-fluid text-center " style="font-size:larger">
        <div class="row fixed-top">
    <div class="col bg-dark">
                <span class="text-light" style="font-size:xx-large">{{CART_ID}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col font-weight-bold">
                <span style="font-size:xx-large;">{{ITEM_NAME}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col font-weight-bold">
                <span style="font-size:x-large;">{{COMPOUND}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col border font-weight-bold"><span style="font-size:xx-large;">{{ITEM_ID}}</span></div>
            <div class="col border font-weight-bold"><span style="font-size:xx-large;">{{PROD_QTY}}</span></div>
            <div class="col border font-weight-bold"><span style="font-size:xx-large;">{{PROD_TYPE}}</span></div>
        </div>
        <div class="row">
            <div class="col border"><span style="font-size:x-large;">{{PROD_TIME}}</span></div>
            <div class="col border"><span style="font-size:x-large;">{{AGING_TIME}}</span></div>
            <div class="col border"><span style="font-size:x-large;">{{EXPIRY_DATE}}</span></div>
        </div>
        <div class="row">
            <div class="col pt-3">
                <span style="font-family:CCode128_S3_Trial;font-size:xx-large;">{{LOT_ID_BARCODE}}></span>
            </div>
        </div>
        <div class="row">
            <div class="col" style="font-size:x-large;">
                {{LOT_ID}}
            </div>
        </div>
        <div class="row border-success">
            <div class="col">
                <span style="font-size:xx-large;">{{TEMP01}}</span>
            </div>
            <div class="col">
                <span style="font-size:xx-large;">{{TREAD_WIDTH}}</span>
            </div>
        </div>
        <div class="row border">
            <div class="col" style="font-size:xx-large;">
                {{COMMON_ITEM_ID}}
            </div>
        </div>
        <div class="row bg-dark text-light">
            <div class="col">{{USER_NAME}}</div>
            <div class="col">{{EQ_NAME}}</div>
        </div>
        <div class="row bg-dark text-light">
            <div class="col">{{IO_POSID}}</div>
            <div class="col">{{RCV_DT}}</div>
        </div>
    </div>*@
</body>
</html>
