@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Monthly report
                </div>
                <div class="card-body">
                    <canvas id="myChart" />
                </div>
                <div class="card-footer text-muted text-center">
                    <form method="post">
                        <nav>
                            <ul class="pagination justify-content-center">
                                <li class="page-item"><button class="page-link" asp-page-handler="filter" asp-route-id="1">1</button></li>
                                <li class="page-item"><button class="page-link" asp-page-handler="filter" asp-route-id="2">2</button></li>
                                <li class="page-item"><button class="page-link" asp-page-handler="filter" asp-route-id="3">3</button></li>
                                <li class="page-item"><button class="page-link" asp-page-handler="filter" asp-route-id="4">4</button></li>
                                <li class="page-item"><button class="page-link" asp-page-handler="filter" asp-route-id="5">5</button></li>
                                <li class="page-item"><button class="page-link" asp-page-handler="filter" asp-route-id="6">6</button></li>
                                <li class="page-item"><button class="page-link" asp-page-handler="filter" asp-route-id="7">7</button></li>
                                <li class="page-item"><button class="page-link" asp-page-handler="filter" asp-route-id="8">8</button></li>
                                <li class="page-item"><button class="page-link" asp-page-handler="filter" asp-route-id="9">9</button></li>
                                <li class="page-item"><button class="page-link" asp-page-handler="filter" asp-route-id="10">10</button></li>
                                <li class="page-item"><button class="page-link" asp-page-handler="filter" asp-route-id="11">11</button></li>
                                <li class="page-item"><button class="page-link" asp-page-handler="filter" asp-route-id="12">12</button></li>
                            </ul>
                        </nav>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: @Html.Raw(Model.DaysInMonth),
            datasets: [
                {
                label: 'GreenTire',
                data: @Html.Raw(Model.GTDays),
                backgroundColor: ['rgba(50, 205, 50, 0.2)'],
                borderColor: ['rgba(50, 205, 50, 1)'],
                borderWidth: 1
                },
                {
                label: 'Finished Tire',
                data: @Html.Raw(Model.TireDays),
                backgroundColor: ['rgba(54, 162, 235, 0.2)'],
                borderColor: ['rgba(54, 162, 235, 1)'],
                borderWidth: 1
                },
                {
                label: 'Daily goal',
                data: @Html.Raw(Model.GoalDay),
                    backgroundColor: ['rgba(255, 140, 0, 0.2)'],
                    borderColor: ['rgba(255, 140, 0, 1)'],
                borderWidth: 1,
                type:'line'
                }
            ]
        },
        options: {
            elements: {
                point: {
                    radius: 0
                }
            },
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>


