@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="container">

    <div class="row my-2 g-2">

        <div class="col">
            <div class="input-group">
                <input class="text-center form-control" placeholder="CART / LOT / TIRE" onkeyup="searchMat(event,this)" />
            </div>
        </div>

    </div>

        <div class="row my-2 g-2">
            <div class="col">
                @await Component.InvokeAsync("YearProduction", @Model.yearProd)
            </div>
        </div>
    </div>


