@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">@Model.Production / @Model.MaxValue</h1>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: @Model.ActValue%" aria-valuenow=@Model.ActValue aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>
