@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="container">
    <div class="row">
        <div class="col">
            <canvas id="myChart" />
        </div>
    </div>
</div>

<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: @Html.Raw(Model.DaysInMonth),
            datasets: [
                {
                label: 'GreenTire',
                data: @Html.Raw(Model.GTDays),
                backgroundColor: ['rgba(50, 205, 50, 0.2)'],
                borderColor: ['rgba(50, 205, 50, 1)'],
                borderWidth: 1
                },
                {
                label: 'Finished Tire',
                data: @Html.Raw(Model.TireDays),
                backgroundColor: ['rgba(54, 162, 235, 0.2)'],
                borderColor: ['rgba(54, 162, 235, 1)'],
                borderWidth: 1
                },
                {
                label: 'Daily goal',
                data: @Html.Raw(Model.GoalDay),
                    backgroundColor: ['rgba(255, 140, 0, 0.2)'],
                    borderColor: ['rgba(255, 140, 0, 1)'],
                borderWidth: 1,
                type:'line'
                }
            ]
        },
        options: {
            elements: {
                point: {
                    radius: 0
                }
            },
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>


