@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<script src="~/js/index.js"></script>

<div class="container py-2">

@*    <div class="row mb-2">
       
        <div class="col">

            <div class="card">
                <div class="card-body">

                    <div class="row">
                        <div class="col">
                            <h4>GreenTire</h4>
                        </div>
                        <div class="col-2 text-end">
                            <h4 id="tbmPlanProd"></h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                        <div class="progress ">
                                <div id="progressTbm" class="progress-bar " role="progressbar" style="width: 0%;background-color:rgb(75, 192, 192)"></div>
                        </div> 
                        </div>
                    </div>
                </div>
            </div>

    </div>

    </div>

    <div class="row mb-2">

        <div class="col">

            <div class="card">
                <div class="card-body">

                    <div class="row">
                        <div class="col">
                            <h4>Tire</h4>
                        </div>
                        <div class="col-2 text-end">
                            <h4 id="tirePlanProd"></h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="progress ">
                                <div id="progressTire" class="progress-bar bg-soma-nexen" role="progressbar" style="width: 0%;background-color:rgb(54, 162, 235);"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>*@

    <div class="row ">
        <div class="col">
            @await Component.InvokeAsync("YearProduction", @Model.yearProd)
        </div>
    </div>
    </div>


