@page
@model NexenHub.Pages.LoginModel
@{

}


<div class="container">
    <div class="row">

        <div class="col-lg">

        </div>

        <div class="col m-lg-3">

            <div class="bg-white p-3">

                <form method="post">
                    <div class="input-group  mb-3">
                        <input type="text" class="form-control" placeholder="Employee ID" asp-for="Username">
                    </div>

                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="MES Password" asp-for="Password">
                    </div>

                    <div class="d-flex">
                        <div class="flex-grow-1">
                            
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary" asp-page-handler="Login">Sign in</button>
                        </div>
                    </div>

                </form>
            </div>

        </div>

        <div class="col-lg">

        </div>

    </div>
</div>