@page
@model NexenHub.Pages.LoginModel
@{

}


<div class="container">
    <div class="row">

        <div class="col-lg">

        </div>

        <div class="col m-lg-3">

            <div class="bg-white p-3">

                <form>
                    <div class="input-group  mb-3">
                        <input type="text" class="form-control" placeholder="Employee ID">
                    </div>

                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="MES Password">
                    </div>

                    <div class="d-flex">
                        <div class="flex-grow-1">

                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary">Sign in</button>
                        </div>
                    </div>

                </form>
            </div>

        </div>

        <div class="col-lg">

        </div>

    </div>
</div>