@page "{arglot}"
@model NexenHub.Pages.LotModel
@{
}

<div class="container text-light text-center">
    <div class="row g-2">
        <div class="col">
            <h3>@Model.argLOT</h3>
        </div>
    </div>
    <div class="row g-2">
        <div class="col-xl-7">

            <div class="row g-2">
                <div class="col">
                    @await Component.InvokeAsync("LotItemInfo", Model.lotitem)
                </div>
            </div>

            <div class="row g-2">
                <div class="col">
                    @Html.Raw(Model.eslLayout.GetLayout())
                </div>
            </div>

            
        </div>
        <div class="col">
            @await Component.InvokeAsync("LotItemHis", Model.lotitem)
        </div>
    </div>
</div>