@page "{EQ_ID}"
@model NexenHub.Pages.MachineProfileModel
@{
}

<div class="container">
    <div class="row">
        <div class="col-7">
            

            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">Workorder information</div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">Inputed material</div>
                            <div class="card-body">
                                @*@await Component.InvokeAsync("ChartCard", new { name = Model.IArg })*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-5">
            <div class="card">
                <div class="card-header">
                    Shift downtimes
                </div>
                <div class="card-body">
                    <canvas id="myChart" width="400" height="400"></canvas>
                </div>
            </div>
        </div>
    </div>
    
</div>

<script>
    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            /*labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange']*/
            labels: @Html.Raw(Model.chartlabels),
        datasets: [
             @Html.Raw(Model.chartdataset)
            @*{

                data: [12, 19, 3, 5, 2, 3]
                @Html.Raw(Model.chartdata),
                backgroundColor: [
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(75, 192, 192, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }*@]
        },
    options:
    {
        responsive: true
    }
});
        </script>
