@page "{eqarg?}/{startarg:datetime?}/{endarg:datetime?}"
@model NexenHub.Pages.MachineReportModel
@{
    ViewData["mainSelected"] = "machines";
}

<div class="container-fluid mb-3">

    <div class="row border-bottom border-2 pt-3 bg-filter">
        <div class="col">

            <div class="row">
                <div class="col">
                    <h4>Report generator</h4>
                </div>
            </div>

            <div class="row">
                
                <div class="col"></div>

                <div class="col-lg-6">
                    <form method="post">
                        <div class="input-group mb-3">

                            <span class="input-group-text">Machine</span>

                            <select class="form-control" asp-for="SelectedMachine">
                                <option value="" />
                        
                                @foreach (var Machine in Model.Machines)
                                {
                                    <option value="@Machine.EQ_ID">@Machine.EQ_ID - @Machine.Name</option>
                                }
                        
                            </select>

                            <span class="input-group-text">From</span>
                            <input type="text" id="myfrom" class="form-control" asp-for="DateFrom" data-provide="datepicker" data-date-end-date="0d">
                            <span class="input-group-text">To</span>
                            <input type="text" id="myTo" class="form-control" asp-for="DateTo" data-provide="datepicker" data-date-end-date="0d">
                            <button id="btnGenerate" type="submit" class="btn btn-primary" onclick="ShowSpinner();" asp-page-handler="generate">Generate report</button>
                            <button id="spinner" class="btn btn-primary" type="button" disabled style="visibility:collapse">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Loading...
                            </button>
                        </div>

                    </form>

                </div>

                <div class="col"></div>

            </div>

        </div>
    </div>

</div>

<div class="container">

     @if (Model.IsValid)
        {

        <div class="row mb-3">

            <div class="col">
                @await Component.InvokeAsync("MachineReportProd", Model.reportData)
            </div>

        </div>

        <div class="row">
            <div class="col">
                @await Component.InvokeAsync("MachineReportUsedMat", Model.reportUsedMaterial)
            </div>
        </div>

        }

</div>

<script type="text/javascript">

    $('#myfrom').datepicker({
        format: 'yyyy-mm-dd',
        weekStart: '1'
    });

    $('#myTo').datepicker({
        format: 'yyyy-mm-dd',
        weekStart: '1'
    });

    function ShowSpinner() {
        var spin = document.getElementById("spinner");
        var btn = document.getElementById("btnGenerate");

        spin.style.visibility = "visible";
        btn.style.visibility = "collapse";
    }

</script>

