@page
@model NexenHub.Pages.MachineListModel
@{
}

<div class="btn-toolbar mb-3" role="toolbar">

    <div class="btn-group " role="group">

        <form method="get">
            <button class="btn btn-outline-primary btn-sm mr-1">ALL</button>
        </form>

        <form method="post" asp-page-handler="filter" asp-route-id="M">
            <button class="btn btn-outline-primary btn-sm mr-1">MIX</button>
        </form>

        <form method="post" asp-page-handler="filter" asp-route-id="C">
            <button class="btn btn-outline-primary btn-sm mr-1">CAL</button>
        </form>

        <form method="post" asp-page-handler="filter" asp-route-id="B">
            <button class="btn btn-outline-primary btn-sm mr-1">BEAD</button>
        </form>

        <form method="post" asp-page-handler="filter" asp-route-id="E">
            <button class="btn btn-outline-primary btn-sm mr-1">EXT</button>
        </form>

        <form method="post" asp-page-handler="filter" asp-route-id="P">
            <button class="btn btn-outline-primary btn-sm mr-1">CUT</button>
        </form>

        <form method="post" asp-page-handler="filter" asp-route-id="T">
            <button class="btn btn-outline-primary btn-sm mr-1">TBM</button>
        </form>

        <form method="post" asp-page-handler="filter" asp-route-id="U">
            <button class="btn btn-outline-primary btn-sm mr-1">CUR</button>
        </form>

    </div>
</div>


<div>
    <table class="table table-sm table-striped table-hover table-dark text-center">

        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col" class="text-left">NAME</th>
                <th scope="col">WC</th>
                <th scope="col">PROC</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>

            @{ foreach (var machine in Model.DbList)
                {

                <tr>
                    <th scope="row">@machine.EQ_ID</th>
                    <td class="text-left">@machine.Name</td>
                    <td>@machine.WC_ID</td>
                    <td>@machine.PROC_ID</td>
                    <td> 
                        <a class="btn btn-success btn-sm" href="/MachineProfile/@machine.EQ_ID">Detail</a>
                    </td>
                </tr>
                }
            }

        </tbody>
    </table>
</div>