@page "{eqarg?}/{startarg:datetime?}/{endarg:datetime?}"
@model NexenHub.Pages.MachineReportModel
@{
}

<div class="row mb-3">
    <div class="col-sm-12 col-xl-8">

        <div class="card">
            <div class="card-header bg-dark text-light">
                Select machine to report
            </div>
            <div class="card-body">
                <form method="post">

                    <div class="input-group mb-3">

                        <div class="input-group-prepend">
                            <span class="input-group-text">Machine</span>
                        </div>

                        <select class="form-control " asp-for="SelectedMachine">
                            <option value="" />
                            @{
                                foreach (var Machine in Model.Machines)
                                {
                                    <option value="@Machine.EQ_ID">@Machine.EQ_ID - @Machine.Name</option>
                                }
                            }
                        </select>

                        <div class="input-group-prepend">
                            <span class="input-group-text">From</span>
                        </div>

                        <input type="text" id="myfrom" class="form-control" asp-for="DateFrom" data-provide="datepicker" data-date-end-date="0d">

                        <div class="input-group-prepend">
                            <span class="input-group-text">To</span>
                        </div>

                        <input type="text" id="myTo" class="form-control" asp-for="DateTo" data-provide="datepicker" data-date-end-date="0d">

                    </div>

                    <div class="row flex-row-reverse">
                        <div class="col-sm-auto">
                            <button type="submit" class="btn btn-primary" asp-page-handler="generate">Generate report</button>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>

@{
    if (Model.IsValid)
    {
        <div class="row">
            <div class="col-8">

                @await Component.InvokeAsync("MachineReportProd", Model.reportData)

            </div>

            <div class="col-4">

                @await Component.InvokeAsync("MachineReportProdSum", Model.reportData)

            </div>
        </div>

    }
}

<script type="text/javascript">

    $('#myfrom').datepicker({
        format: 'yyyy-mm-dd',
        weekStart: '1'
    });

    $('#myTo').datepicker({
        format: 'yyyy-mm-dd',
        weekStart: '1'
    });

</script>

