@page "{argMember:minlength(8):maxlength(8)?}"
@model NexenHub.Pages.MemberModel
@{
}


<div class="container">
    <div class="row">
        <div class="col-6">
            @await Component.InvokeAsync("MemberCard", @Model.member)
        </div>
        <div class="col-6">
            @await Component.InvokeAsync("MemberSearch")
        </div>
    </div>
</div>