@page
@model NexenHub.Pages.RexModel
@{
}
<div class="card">
    <h5 class="card-header">ReX</h5>
    <div class="card-body">
        <h5 class="card-title">Cart information reader for Android</h5>
        <div class="card-text">
            Minimum Android version: Oreo 8.0 
        </div>
        <a href="#" class="btn btn-primary float-right">Download</a>
    </div>
    <div class="card-footer text-muted ">
        Version
    </div>
</div>