@page
@model NexenHub.Pages.RexModel
@{
}

<div class="container">

    <div class="card bg-soma-darklight text-light">
        <h5 class="card-header"><b>ReX</b> - Zobrazení informací o materiálu pro Android (@Model.version.Version.ToString("yyyy-MM-dd"))</h5>
        <div class="card-body">
            <div class="card-text">
                <ul>
                    <li>Minimální verze Android: <b>Oreo 8.0</b></li>
                    <li>Povolte instalaci z neznámých zdrojů</li>
                    <li>NFC není vyžadováno</li>
                </ul>
            </div>
        </div>
        <div class="card-footer text-muted ">
            <div class="d-flex justify-content-end">
                <a href="@Url.Page("rex", "Download")" class="btn btn-success m-1">Download</a>
            </div>

        </div>
    </div>

</div>