@page
@model NexenHub.Pages.RexModel
@{
    ViewData["mainSelected"] = "rex";
}

<div class="container pt-3 bg-white">

    <div class="row">
        <div class="col text-center">
            <h1>Rex</h1>
            <div class="text-muted">@Html.Raw("v")@Model.RexVer.VersionDate.ToString("yyyy-MM-dd")</div>
        </div>
    </div>

    <div class="row g-3">
        <div class="col-lg-8">

            <h2>Požadavky</h2>
            <ul>
                <li>Android 8.0 a vyšší</li>
                <li>Telefon připojený k síti Nexen, schopný připojit se k tomuto webu.</li>
            </ul>

        <h2>Instalace</h2>
        <ol>
            <li>Stáhnout soubor rex.apk</li>
            <li>Stiskem souboru se pustí instalace.</li>
            <li>Odsouhlasit všechny hlášky, povolit všechno co telefon vyžaduje.</li>
            <li>Po prvním spuštění nemusí fungovat skenování čárového kódu, stačí restartovat.</li>
        </ol>

        <h2>Použití</h2>
        <ul>
            <li>Tlačítko "Zadat" - Manuální zadání čísla LOT / Vozíku.</li>
            <li>Tlačítko "Skenovat" - Přečte čárový / QR kód pomocí kamery. Ignoruje typy kódů, které nejsou součástí výroby.</li>
            <li>NFC - Po zapnutí NFC lze přiložit telefon na RFID čip vozíku.</li>
        </ul>

            <div class="w-100 d-none d-lg-block">
                <img src="~/images/rex/poklep.png" class="img-fluid" />
            </div>

        </div>

        <div class="col-lg-4">

                    <div class="flex-column">

                        <a href="@Url.Page("rex", "Download")" class="btn btn-primary m-1 w-100">Stáhnout</a>

                        <div class="w-100 d-none d-lg-block">
                            <img src="~/images/RexDownload.png" class="img-fluid"/>
                        </div>


                    </div>


        </div>

    </div>

</div>