@model NexenHub.Models.MachineProdReport

        <div class="card bg-soma-darklight text-light">

            <div class="card-body flex-fill">
                
                <div class="card-title">
                    <h5>Production summary</h5>
                </div>

                <table class="table table-bordered text-center">
                    <tbody>
                        <tr class="table-danger">
                            <th scope="row">Minimum</th>
                            <td>@Model.minValue</td>
                        </tr>
                        <tr class="table-warning">
                            <th scope="row">Average</th>
                            <td>@Model.avgValue</td>
                        </tr>
                        <tr class="table-success">
                            <th scope="row">Maximum</th>
                            <td colspan="2">@Model.maxValue</td>
                        </tr>
                        <tr class="table-primary">
                            <th scope="row">Total</th>
                            <td colspan="2">@Model.sumValue</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

