@using NexenHub.Class;
@using NexenHub.Models;

@{
    string pageTitle = string.IsNullOrEmpty((string)ViewData["pageTitle"]) ? "NexenHub" : (string)ViewData["pageTitle"];

    bool isLogged = Login.IsLoggedIn(Model.HttpContext);
    string Username = isLogged ? Login.Username(Model.HttpContext) : "";
    string Role = isLogged ? Login.Role(Model.HttpContext) : "";
    Member user = isLogged ? Login.Member(Model.HttpContext) : null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@pageTitle</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link href="~/lib/bootstrap/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/vis/dist/vis-timeline-graph2d.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/vis/dist/vis.min.css" rel="stylesheet" type="text/css" />

</head>

<body class="bg-light m-0 p-0">

    <script src="~/lib/chart/dist/chart.min.js"></script>
    <script src="~/lib/chart/dist/helpers.esm.min.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap-datepicker.min.js"></script>

    <script src="~/lib/vis/dist/vis.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    <div class="fixed-top">
    <div class="bg-dark">

        <div class="container-fluid">
            <div class="row">
                
                <div class="col-md">
                    <a class="navbar-brand" asp-page="/Index">
                        <img src="~/images/logo/logo_light.png" class="img-fluid" style="max-width:170px;"/>
                    </a>
                </div>
            
                <div class="col-md d-flex align-items-center">
                    <input class="text-center form-control" placeholder="CART / LOT / TIRE" onkeyup="searchMat(event,this)" />
                </div>

                <div class="col-md d-flex flex-row-reverse align-items-center text-light">

                </div>

            </div>
        </div>

    </div>

    <div class="navbar navbar-expand-md navbar-dark bg-dark">

        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">

            <ul class="navbar-nav text-center">
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/MachineList">Production</a>
                    </li>

                    <li class="nav-item link-primary dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Reports
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/Report/QualityReport">SF Quality</a>
                            <a class="dropdown-item" href="/Report/MachineReport">Production &amp; Used material</a>
                        </div>
                    </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        R&D
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/RAD/PrototypeProgress">Prototype progress</a>
                    </div>
                </li>

                    <li class="nav-item link-primary dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Cockpit
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="~/cockpit/tbm">TBM</a>
                            <a class="dropdown-item" href="~/cockpit/cure">Curing</a>
                        </div>
                    </li>

                <li class="nav-item">
                    <a class="nav-link" asp-page="/Rex">ReX</a>
                </li>
            </ul>

            </div>
    
    </div>

    </div>

    <div class="bodyContent">
        @RenderBody()
        </div>

    @RenderSection("Scripts", required: false)

</body>
</html>