@{
    string pageTitle = string.IsNullOrEmpty((string)ViewData["pageTitle"]) ? "NexenHub" : (string)ViewData["pageTitle"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@pageTitle</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link href="~/lib/bootstrap/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/vis/dist/vis-timeline-graph2d.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/vis/dist/vis.min.css" rel="stylesheet" type="text/css" />

</head>

<body class="bg-light m-0 p-0">

    <script src="~/lib/chart/dist/chart.min.js"></script>
    <script src="~/lib/chart/dist/helpers.esm.min.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap-datepicker.min.js"></script>

    <script src="~/lib/vis/dist/vis.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    <main role="main" class="d-flex" style="height:100vh;">

        <div class="bg-dark" style="width:70px;height:100%;">
               
            <div class="sidebarButton" style="width:70px;">
                   
                    <a href="~/cockpit/dashboard">
                        <div class="icon">
                            <svg viewBox="0,0,256,256">
                                <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(10.66667,10.66667)"><path d="M2,2v1v10h9v-11zM13,2v1v6h9v-7zM4,4h5v7h-5zM15,4h5v3h-5zM13,11v1v10h9v-11zM15,13h5v7h-5zM2,15v1v6h9v-7zM4,17h5v3h-5z"></path></g></g></svg>
                        </div>
                    </a>

                    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <div class="icon">
                            <svg viewBox="0,0,256,256">
                                <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" style="mix-blend-mode: normal">
                                    <g transform="scale(5.12,5.12)">
                                        <path d="M39.09375,0c-1.43359,0 -2.6875,1.11328 -2.75,2.59375h-0.03125v0.09375l-1.875,19.40625c-0.13672,-0.0625 -0.28516,-0.09766 -0.4375,-0.09375h-1v-6c0.00391,-0.34766 -0.17578,-0.66797 -0.46484,-0.85156c-0.29297,-0.1875 -0.66016,-0.20703 -0.97266,-0.05469l-14.5625,6.78125v-4.875c-0.00391,-0.34766 -0.1875,-0.67187 -0.48828,-0.85156c-0.30078,-0.17969 -0.67187,-0.1875 -0.98047,-0.02344l-15,8c-0.32422,0.17188 -0.52734,0.50781 -0.53125,0.875v24c0,0.55078 0.44922,1 1,1h48c0.27734,0 0.53906,-0.11328 0.73047,-0.31641c0.1875,-0.19922 0.28516,-0.46875 0.26953,-0.74609l-2.8125,-46.1875c0,-0.01953 0,-0.04297 0,-0.0625c-0.14844,-1.47266 -1.28906,-2.6875 -2.78125,-2.6875zM39.09375,2h5.3125c0.29688,0 0.70313,0.37891 0.78125,0.875l2.75,45.125h-45.9375v-22.40625l13,-6.9375v4.34375c0,0.55078 0.44922,1 1,1h1c0.15234,0.00391 0.30078,-0.03125 0.4375,-0.09375l13.5625,-6.34375v5.4375c0,0.55078 0.44922,1 1,1h1v13c-0.02734,0.55078 0.40234,1.01953 0.95313,1.04688c0.55078,0.02734 1.01953,-0.40234 1.04688,-0.95312v-0.09375l3.28125,-34.21875c0.01172,-0.03125 0.02344,-0.0625 0.03125,-0.09375c0,-0.46484 0.24609,-0.6875 0.78125,-0.6875zM7,27v5h3v-5zM16,27v5h3v-5zM25,27v5h3v-5zM7,36v5h3v-5zM16,36v5h3v-5zM25,36v5h3v-5z">
                                        </path>
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </a>

                    <a href="~/">
                        <div class="icon">
                            <img src="~/images/logo/nxhubBtn.png" class="img-fluid"/>
                        </div>
                        </a>
                
            </div>

        </div>

        <div class="flex-grow-1" style="overflow-y:auto;">
            @RenderBody()
        </div>

    </main>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" >
        <div class="modal-dialog  modal-fullscreen-md-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Factory sections</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <div class="list-group list-group-flush text-center">
                                  <button type="button" class="list-group-item list-group-item-action disabled">Mixing</button>
                                    <button type="button" class="list-group-item list-group-item-action disabled">Calender</button>
                                    <button type="button" class="list-group-item list-group-item-action disabled">Extruding</button>
                                    <button type="button" class="list-group-item list-group-item-action disabled">Bead</button>
                                    <button type="button" class="list-group-item list-group-item-action disabled">Cutting</button>
                                    <a class="list-group-item list-group-item-action" href="~/cockpit/tbm">TBM</a>
                                    <a class="list-group-item list-group-item-action" href="~/cockpit/cure">Curing</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    @RenderSection("Scripts", required: false)

</body>
</html>