@model NexenHub.ViewModels.MachineOeePieViewModel
@{

}

<div class="row">
<div class="col-6">
    <canvas id="@Html.Raw(Model.EQ_ID + "_machineOeePie")"></canvas>
</div>
<div class="col">
    <div class="table-responsive">
            <table id="@Html.Raw(Model.EQ_ID + "_machineOeeTable")" class="table table-sm table-borderless table-hover"></table>
    </div>
</div>
</div>

<script type="text/javascript">

    document.addEventListener('readystatechange', event => {
        switch (document.readyState) {
            case "loading":
                break;
            case "interactive":
                UpdateMachineOeePie();
                break;
            case "complete":
                setInterval(UpdateMachineOeePie, 10000);
                break;
        }
    });

    const oeTable = document.getElementById('@Html.Raw(Model.EQ_ID + "_machineOeeTable")');
    const machineOeePie = new Chart(document.getElementById('@Html.Raw(Model.EQ_ID + "_machineOeePie")').getContext('2d'),
        {
        type: 'doughnut',
        options: 
        {
            responsive:true,
            plugins: 
            {
                  legend: {
                      display:false,
                    position: 'right',
                  },
                  title: {
                    display: false,
                    text: 'OEE'
                  }
            }
        },
        data: 
        {
            labels:[],
            datasets: 
            [{
                label: null,
                data: null
             }]
        }
    });

    async function UpdateMachineOeePie()
    {
        await fetch(window.location.origin + '/api/prod/machineoee/@Model.EQ_ID')
            .then(response => response.json())
            .then(data => setMachineOeePie(data));
    }

    function setMachineOeePie(data)
    {
        
        var labels = ['Available'];
        var chartData = [Math.round((100 - data.DownTimePercent)*10)/10];
        var chartBackgrounds = [chartOkColor[1]];

        data.DownTimeGroups.forEach(group=>
        {
            labels.push(group.DownTimeName);
            chartData.push(group.Percent);

            if (group.DownTimeName == 'Other')
                chartBackgrounds.push(chartGrayColor[1]);
            else if (group.DownTimeName == 'PM')
                chartBackgrounds.push(chartPmColor[1]);
            else
                chartBackgrounds.push(chartBadColor[1]);

        });

        machineOeePie.data.labels = labels;
        machineOeePie.data.datasets[0].data = chartData;
        machineOeePie.data.datasets[0].backgroundColor = chartBackgrounds;

        oeTable.innerHTML = '';
        var i = 0;
        labels.forEach(label => {
            addOeRow(chartBackgrounds[i],label,chartData[i]);
            i++;
        });

        machineOeePie.update();
    }

    function addOeRow(color, header, val)
    {
        oeTable.innerHTML += '<tr><td><div style="color:'+color+'">&#9632;</div></td><td>' + header + '</td > <td class=\"text-end\">' + val + ' % </td></tr>';
    }

</script>