@page
@model NexenHub.Pages.OEE.DashboardModel
@{
}

<div class="container-fluid pt-3">
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-5 g-2">
        <div class="col">
            @await Component.InvokeAsync("WorkSection", "M")
        </div>
        <div class="col">
            @await Component.InvokeAsync("WorkSection", "E")
        </div>
        <div class="col">
            @await Component.InvokeAsync("WorkSection", "C")
        </div>
        <div class="col">
            @await Component.InvokeAsync("WorkSection", "P")
        </div>
        <div class="col">
            @await Component.InvokeAsync("WorkSection", "T")
        </div>
    </div>
</div>

<script type="text/javascript">


    document.addEventListener('readystatechange', event => {
          switch (document.readyState) {
            case "loading":
              break;
            case "interactive":
                refreshGui();
              break;
            case "complete":
                setInterval(refreshGui, 10000);
              break;
          }
    });

    async function refreshGui()
    {
         loadFromApi("M");
         loadFromApi("E");
         loadFromApi("C");
         loadFromApi("P");
         loadFromApi("T");
    }

    async function loadFromApi(WCID)
    {

        await fetch(window.location.origin + '/API/prod/worksectionoee/' + WCID)
            .then(response => response.json())
            .then(data => displayPercent(data));
    }

    function displayPercent(data)
    {
        var percentLabel = document.getElementById(data['WC_ID'] + '_percent');
        percentLabel.innerHTML = data['PercentAllMachines'] + '%';

        data['MachineTimes'].forEach(machineTime => {
            var okBar = document.getElementById(machineTime['Machine'] + '_bar_ok');
            okBar.style.width = (100 - Number(machineTime['Percent'])) + '%';
        });
    }

</script>