@page
@model NexenHub.Pages.Report.QualityReportModel
@{
}


<div class="container mb-5" style="margin-top:130px;">

    <div class="row">

        <div class="col">
            
            <div class="display-6">SF Quality</div>
            <small class="text-muted">Quality report for semi-finish production machine´s monthly production.</small>
        </div>

        <div class="col">
            <form method="post">
            <div class="row mb-2">

                <div class="col">
                    <small>Machine</small>
                    <select class="form-control" asp-for="selectedMachine" asp-items="Model.machineFilter"></select>
                </div>

                <div class="col">
                    <small>Year</small>
                    <select class="form-control" asp-for="selectedYear" asp-items="Model.yearFilter"></select>
                </div>

                <div class="col">
                    <small>Month</small>
                    <select class="form-control" asp-for="selectedMonth" asp-items="Model.monthFilter"></select>
                </div>

            </div>

            <div class="row">
                <div class="col text-end">
                        <button class="btn btn-primary" type="submit" asp-page-handler="GenerateReport">Generate report</button>
                </div>
            </div>

            </form>

        </div>
    </div>
</div>

@if (Model.GeneratorEnabled){

    <div class="container">
        <div class="row">
            <div class="col">
                @await Component.InvokeAsync("MachineQuality", Model.QualityModel)
            </div>
        </div>
    </div>

}
else
{
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="card">
                    <div class="card-body text-center p-md-5">
                        <div class="display-6 text-muted">Choose a machine and a valid time period.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}